<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões devem vir aqui, fora da tag <application> -->
    <!-- Permissão para acessar a galeria (Android 13+ ) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Permissão para acessar a galeria (Android 12 e inferior) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <!-- Permissão para localização (se você já usa ou pretende usar) -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->

    <!-- Permissão para internet (necessária para Google Maps) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissão para localização precisa (GPS e redes) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permissão para localização aproximada (redes) -->
    <!-- É boa prática solicitar ambas, mas FINE_LOCATION geralmente é suficiente se concedida -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectEcoWay"
        tools:targetApi="31">

        <!-- Chave da API do Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
